[Unit]
Description=Aquachain Server (RPC)
Requires=network
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=aqua
Group=aqua
StandardOutput=append:/var/log/aqua.log
StandardError=append:/var/log/aqua.log
EnvironmentFile=-/etc/default/aquachain
EnvironmentFile=-/etc/default/aquachain.d/*
KillSignal=SIGINT
TimeoutStopSec=90s
Slice=aquachain.slice
Restart=always
# this next line gets replaced by dpkg-reconfigure
ExecStart=/usr/local/bin/start-aquachain.sh

[Install]
WantedBy=multi-user.target

