# this creates websocket endpoint: wss://aquachain.example.org/api/websocket.v1


# remove this stuff for prod
{
	admin off
	auto_https disable_redirects
	preferred_chains smallest
	skip_install_trust
	log stderr
}

# rename to your URL https://, with no port
https://localhost:4443 {
	log
	tls tls.crt tls.key
	reverse_proxy /api/websocket.v1 ws://127.0.0.1:8544 {
		header_up Host {http.reverse_proxy.upstream.hostport}
		header_up Content-Type application/json
	}

	@postrpc {
		method POST
		path /
	}
	reverse_proxy @postrpc http://127.0.0.1:8543 {
		header_up Content-Type application/json
		header_up Host {http.reverse_proxy.upstream.hostport}
		header_up X-Real-IP {http.request.remote}
	}

	respond / "Nope
" 402
}
