image: golang:1.14.1

lint:
  allow_failure: true
  before_script:
    - shopt -s dotglob
    - GO_FILES=$(find . -iname '*.go' -type f | grep -v /vendor/ | grep -v /build/) # All the .go files, excluding vendor/
    - make bin/golangci-lint
  script:
    #    - CGO_ENABLED=0 bin/golangci-lint --color never run -j 1 --build-tags static,netgo,osusergo --config .golangci.yml --out-format line-number
    - make linter

build:
  script:
    - make all # build all things
    - make # build default bin/aquachain
    - git clone https://gitlab.com/aquachain/bootstraps ../bootstraps
    - ./bin/aquachain import ../bootstraps/latest.dat

test:
  script:
    - go get -v -u -t -d ./...
    - build/env.sh go run build/ci.go test

