#!/bin/sh
set -e

# Source debconf library.
. /usr/share/debconf/confmodule

if [ -f /etc/default/aquachain ]; then
. /etc/default/aquachain
fi

# Register the questions.
db_input high aquachain/aquabase || true
db_input medium aquachain/datadir || true
db_input medium aquachain/chain || true
db_input medium aquachain/verbosity || true
db_input medium aquachain/aquaargs || true
db_input medium aquachain/rpcallowip || true
db_go

# Get the responses.
db_get aquachain/aquabase
AQUABASE=$RET

db_get aquachain/datadir
AQUACHAIN_DATADIR=$RET

db_get aquachain/chain
AQUACHAIN_CHAIN=$RET

db_get aquachain/verbosity
VERBOSITY=$RET

db_get aquachain/aquaargs
AQUACHAIN_ARGS=$RET

if [ ! -d "$AQUACHAIN_DATADIR" ]; then
    mkdir -p "$AQUACHAIN_DATADIR"
    chown aqua:aqua "$AQUACHAIN_DATADIR"
    chmod 700 "$AQUACHAIN_DATADIR"
fi

mkdir -p /etc/aquachain

# Export the configuration values for use in the postinst script.
{
echo "AQUABASE=$AQUABASE"
echo "AQUACHAIN_DATADIR=$DATADIR"
echo "AQUACHAIN_CHAIN=$CHAIN"
echo "VERBOSITY=$VERBOSITY"
echo "AQUACHAIN_ARGS=$AQUACHAIN_ARGS"
} | tee -a /etc/aquachain/aquachain.conf

# End the debconf session.
db_stop

echo done configuring aquachain woohoo