#!/bin/sh
# this is debconf config script for aquachain debian package
set -e

# Source debconf library.
. /usr/share/debconf/confmodule
db_version 2.0

# This conf script is capable of backing up
db_capb backup

# CONFIGFILE is where debconf will store the configuration values.
CONFIGFILE=/etc/aquachain/aquachain.conf

# Load config file, if it exists.
if [ -e $CONFIGFILE ]; then
    . $CONFIGFILE || true
fi

# Load defaults file, if it exists.
if [ -f /etc/default/aquachain ]; then
    . /etc/default/aquachain
fi

# Set the debconf flag for going 'back' in the script.
db_fset aquachain/aquabase seen false
db_fset aquachain/datadir seen false
db_fset aquachain/chain seen false
db_fset aquachain/verbosity seen false
db_fset aquachain/aquaargs seen false
db_fset aquachain/rpcallowip seen false

export lan_subnet=$(ip -o -f inet addr show | awk '/scope global/ && $4 !~ /127.0.0.1/ {print $4}' | paste -sd ", " -)

# small state machine
STATE=1
while [ "$STATE" != 0 -a "$STATE" != 3 ]; do
    case "$STATE" in
    1)
        db_input high aquachain/aquabase || true
        db_input high aquachain/datadir || true
        db_input high aquachain/chain || true
        db_input high aquachain/verbosity || true
        db_input high aquachain/aquaargs || true
        db_input high aquachain/rpcallowip || true
        ;;
    2)
        db_get aquachain/aquabase
        AQUABASE=$RET

        db_get aquachain/datadir
        AQUACHAIN_DATADIR=${RET-${AQUACHAIN_DATADIR}}

        db_get aquachain/chain
        AQUACHAIN_CHAIN=$RET

        db_get aquachain/verbosity
        VERBOSITY=$RET

        db_get aquachain/aquaargs
        AQUACHAIN_ARGS=$RET

        db_get aquachain/rpcallowip
        RPCALLOWIP=$RET

        case "$AQUACHAIN_CHAIN" in
        aqua | mainnet | testnet | testnet2 | testnet3)
            echo "Valid chain: $AQUACHAIN_CHAIN"
            ;;
        *)
            echo "Invalid chain: $AQUACHAIN_CHAIN"
            continue
            ;;
        esac
        ;;
    *)
        break
        ;;
    esac

    if db_go; then
        STATE=$(($STATE + 1))
    else
        STATE=$(($STATE - 1))
    fi

done

if [ -n "$AQUACHAIN_DATADIR" ] && [ ! -d "$AQUACHAIN_DATADIR" ]; then
    echo "creating datadir: $AQUACHAIN_DATADIR"
    mkdir -p "$AQUACHAIN_DATADIR"
    chown aqua:aqua "$AQUACHAIN_DATADIR"
    chmod 700 "$AQUACHAIN_DATADIR"
fi

# get number from level
case "$VERBOSITY" in
debug)
    VERBOSITY=4
    ;;
info)
    VERBOSITY=3
    ;;
warn)
    VERBOSITY=2
    ;;
trace)
    VERBOSITY=6
    ;;
error)
    VERBOSITY=1
    ;;
silent)
    VERBOSITY=0
    ;;
*)
    echo "Invalid verbosity level: $VERBOSITY"
    exit 1
    ;;
esac

mkdir -p /etc/aquachain
echo done configuring, creating /etc/aquachain/aquachain.conf
# Export the configuration values for use in the postinst script.
{
    echo "AQUABASE=$AQUABASE"
    echo "AQUACHAIN_DATADIR=$DATADIR"
    echo "AQUACHAIN_CHAIN=$CHAIN"
    echo "VERBOSITY=$VERBOSITY"
    echo "AQUACHAIN_ARGS=$AQUACHAIN_ARGS"
    echo "PUBLIC_RPC_MODE=$PUBLIC_RPC_MODE"
    echo "RPCALLOWIP=$RPCALLOWIP"
} | tee /etc/aquachain/aquachain.conf

# End the debconf session.
db_stop
